@model GABS2025324AppWebMVC.Models.Warehouse



<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="text-center mb-4 text-danger">¿Estás seguro que quieres eliminar esto?</h3>
            <h4 class="text-center mb-4">Almacén</h4>
            <hr>

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">Nombre del almacén</th>
                        <td>@Html.DisplayFor(model => model.WarehouseName)</td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-4 text-center">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="WarehouseId" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la lista</a>
                </form>
            </div>
        </div>
    </div>
</div>