@{
    ViewData["Title"] = "Home Page";
}


<style>
    body {
        background: linear-gradient(to bottom, #4A0065, #800080, #C25997);
        height: 150%;
    }
</style>

<style>
    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 26%;
        left: 16%;
        position: absolute;
    }

    .card {
        margin: 0 10px;
    }

    .n4 {
        position: absolute;
        text-align: center;
        left: 35%;
        color: white;
    }
</style>

<div>
    <h1 class="n4">Bienvenido a Umbrella</h1>
</div>


<div class="card-container">
    <div class="card" style="width: 18rem; border: 2px solid black;">
        <img src="https://cdn.phonehouse.es/res_static/samsung2/compra/hero-m.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Galaxy Note20</h5>
            <p class="card-text">¿Listo para llevar tu productividad al siguiente nivel? El Galaxy Note20 es el smartphone que te permite hacer más</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; border: 2px solid black;">
        <img src="https://phantom-marca.unidadeditorial.es/efcf4cedc40b3dd1afa17215d5a0876b/resize/660/f/webp/assets/multimedia/imagenes/2022/08/10/16601261098603.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Galaxy Z Fold4	</h5>
            <p class="card-text">¿Listo para experimentar el futuro de los smartphones? El Galaxy Z Fold4 te ofrece una experiencia única y revolucionaria, con una pantalla plegable.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;  border: 2px solid black;">
        <img src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2024/09/09/17259070646920.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Iphone 16 pro</h5>
            <p class="card-text">
                Prepárate para experimentar la innovación y el rendimiento sin precedentes del iPhone 16 Pro.Un smartphone diseñado para quienes exigen lo mejor en cada detalle. iPhone 16 Pro:

            </p>
        </div>
    </div>
</div>

