@model GABS2025324AppWebMVC.Models.Brand

<style>
    body{
        background: linear-gradient(to bottom, #4A0065, #800080, #C25997);
    }
</style>
    <div class="container">
        <h1 class="text-center mb-4 text-white">Crear Marca</h1>
        <hr class="border-white">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="BrandName" class="control-label text-white">Nombre de la marca</label>
                        <input asp-for="BrandName" class="form-control" />
                        <span asp-validation-for="BrandName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Country" class="control-label text-white">País</label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-4">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la lista</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
