@model GABS2025324AppWebMVC.Models.Brand

<style>
    body{
        background: linear-gradient(to bottom, #4A0065, #800080, #C25997);
    }
</style>

<div class="container">
    <h1 class="text-center mb-4 text-white">Detalles de la Marca</h1>
    <hr class="border-white">

    <table class="table table-bordered ">
        <tbody>
            <tr>
                <th scope="row" class="text-white">Nombre de la marca</th>
                <td class="text-white">@Html.DisplayFor(model => model.BrandName)</td>
            </tr>
            <tr>
                <th scope="row" class="text-white">País</th>
                <td class="text-white">@Html.DisplayFor(model => model.Country)</td>
            </tr>
        </tbody>
    </table>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.BrandsId" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary ml-2">Volver a la lista</a>
    </div>
</div>